.form-label {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}

.group-form-input {
  position: relative;
}

.form-icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  opacity: 0;
}

.valid-form .form-icon {
  color: rgb(35, 216, 50);
  opacity: 1;
}

.invalid-form .form-icon {
  color: red;
  opacity: 1;
}

.invalid-form .form-label {
  color: red;
}

.invalid-form .form-input {
  border: 2px solid red;
}